<!DOCTYPE html>  
<html>  
<head>  
    <title>Add New Book</title>  
</head>  
<body>  
    <h2>Add New Book</h2>   
    <form action = "/savebookdetails" method="post">  
    <table>  
        <tr><td>Book Name</td><td><input type="text" name="name"></td></tr>  
        <tr><td>Price</td><td><input type="number" name="price"></td></tr> 
        <tr><td>Author Name</td><td><input type="text" name="author"></td></tr> 
        <tr><td>Language</td><td><input type="text" name="lang"></td></tr> 
        <tr><td>Category</td><td><input type="text" name="cate"></td></tr> 
        <tr><td><input type="submit" value="Submit"></td></tr>  
    </table>  
    </form>  
</body>  
</html>  